<%= form_with(model: expense_account) do |form| %>
  <% if expense_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense_account.errors.count, "error") %> prohibited this expense_account from being saved:</h2>

      <ul>
        <% expense_account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>


  <div class="field">
    <%= form.label :Accounts %>
    <%= form.select  :category, ['Income', 'Expense']  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
