<h1>Transaction types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Flow</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td><%= type.description %></td>
        <td><%= type.flow %></td>
        <td><%= link_to "Delete",
          transaction_type_path(type),
          method: :delete,
          data: { confirm: "Are you sure?" }
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav>
  <%= link_to "Add New", new_transaction_type_path %>
</nav>
