<h1>Transaction types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mode</th>
      <th>Description</th>
      <th>Source Category</th>
      <th>Target Category</th>
      <th>Tran Charge</th>

      <% if allowed_to?(:view?, :transaction_type) %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td><%= type.mode %></td>
        <td><%= type.description %></td>
        <td><%= type.source_category&.name %></td>
        <td><%= type.target_category&.name %></td>
        <td><div class="money"><%= type.expense_category&.transaction_fee %></div></td>
        <% if allowed_to?(:destroy?, :transaction_type) %>
          <td><%= link_to "Delete",
            transaction_type_path(type),
            method: :delete,
            data: { confirm: "Are you sure?" }
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
