<h1>Transaction types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mode</th>
      <th>Description</th>
      <th>Source Category</th>
      <th>Target Category</th>
      <th>Tran Charge</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td><%= type.mode %></td>
        <td><%= type.description %></td>
        <td><%= type.source_category&.name %></td>
        <td><%= type.target_category&.name %></td>
        <td><%= type.expense_category&.amount %></td>
        <td><%= link_to "Delete",
          transaction_type_path(type),
          method: :delete,
          data: { confirm: "Are you sure?" }
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>
