<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_expense.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_expense.description %>
</p>

<%= link_to 'Edit', edit_admin_expense_path(@admin_expense) %> |
<%= link_to 'Back', admin_expenses_path %>
