<h1>New Salary Expense</h1>

<%= form_for @salary, url: url_for(controller: 'salary_expenses', action: 'create') do |form| %>
  <% if @salary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salary.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% @salary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :source_account_id %>
    <%= form.select :source_account_id, Account.active.salary_sources.pluck(:name, :id), prompt: "Choose Source Account" %>
  </div>

  <div class="field">
    <%= form.label :target_account_id %>
    <%= form.select :target_account_id, Account.active.employees.pluck(:name, :id), prompt: "Choose Target Account" %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :cutoff_date %>
    <%= form.date_field :cutoff_date %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>

  <div class="field">
    <%= form.label :actualized_at %>
    <%= form.date_field :actualized_at, min: Date.today - 1000, max: DateTime.now %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
