<tr class="tr-pl-<%= level * 20 %> <%= hilite(@summary[acct.code]) %> tr-<%= acct.type %> <%= @summary[acct.code][:current].zero? ? 'tr-zero' : '' %>">
  <% if acct.root? %>
    <th><div><%= acct.name %></div></th>
    <td></td>
    <td colspan="2"></td>
    <th class="money">
      <div><%= from_cents(@summary[acct.code][:current]) %></div>
    </th>

  <% elsif acct.parent? || acct.parent.root? %>
    <td><div><%= acct.name %></div></td>
    <td></td>
    <td></td>
    <td class="money">
      <div><%= from_cents(@summary[acct.code][:current]) %></div>
    </td>
    <td></td>

  <% else %>
    <td><div><%= acct.name %></div></td>
    <td></td>
    <td class="money">
      <div><%= from_cents(@summary[acct.code][:current]) %></div>
    </td>
    <td colspan="2"></td>
  <% end %>
</tr>

<% acct.entities.each do |entity| %>
  <% if entity.active_or_has_transaction? %>
    <%= render 'tr', acct: entity, level: level + 1 %>
  <% end %>
<% end %>

<% if acct.parent? %>
  <tr><td colspan="5" class="td-divider"></td></tr>
<% end %>
