<h1>Dashboard</h1>

<%= link_to "Transaction", transactions_path %>
<span class="sep">|</span>
<%= link_to "Account Types", account_types_path %>
<span class="sep">|</span>
<%= link_to "Transaction Types", transaction_types_path %>
<span class="sep">|</span>
<%= link_to "Accounts", accounts_path %>

<hr />

<table>
  <% @summary.each do |code, value| %>
    <tr>
      <th><%= @accounts[code][:description] %></th>
      <td class="money"><%= value %></td>
      <td><%= link_to "Source",
        new_transaction_path(f: { source_account_id: @accounts[code][:id] }),
        data: { turbo: false }
      %></td>
      <td><%= link_to "Target",
        new_transaction_path(f: { target_account_id: @accounts[code][:id] }),
        data: { turbo: false }
      %></td>
    </tr>
  <% end %>
</table>

