<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :transaction_type_id %>
    <%= form.select :transaction_type_id, TransactionType.selectable.map { |t| [t.name, t.id] }, prompt: "Choose type" %>
  </div>

  <div class="field">
    <%= form.label :source_account_id %>
   <%= form.select :source_account_id, Account.all.map { |t| [t.description, t.id] }, prompt: "Choose Source Account" %>
  </div>

  <div class="field">
    <%= form.label :target_account_id %>
    <%= form.select :target_account_id, Account.all.map { |t| [ t.description, t.id ] }, prompt: "Choose Target Account" %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount_decimal, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :cutoff_date %>
    <%= form.date_field :cutoff_date %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>

  <div class="field">
    <%= form.label :actualized_on %>
    <%= form.date_field :actualized_on %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
