<%= form_with(model: tran) do |form| %>
  <%= render 'shared/form_errors', object: tran %>

  <div class="field">
    <%= form.label :transaction_type_id %>
    <%= form.select :transaction_type_id, TransactionType.selectable.map { |t| [t.name, t.id] }, { prompt: "Choose type" }, { autofocus: true } %>
  </div>

  <div class="field">
    <%= form.label :source_account_id %>
    <%= form.select :source_account_id, [], prompt: "Choose Source Account" %>
  </div>

  <div class="field">
    <%= form.label :target_account_id %>
    <%= form.select :target_account_id, [], prompt: "Choose Target Account" %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :cutoff_date %>
    <%= form.date_field :cutoff_date, min: Date.tomorrow, max: 3.years.from_now.to_date %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, min: Date.current, max: 3.years.from_now.to_date %>
  </div>

  <% unless params[:draft] %>
    <div class="field">
      <%= form.label :actualized_at %>
      <%= form.date_field :actualized_at, value: Date.current, min: 1.month.ago, max: Date.current %>
    </div>
  <% end%>

  <div class="actions">
    <%= link_to "Cancel", :back %>
    <%= form.submit "Create#{params[:draft] ? "Draft" : ""} Transaction" %>
  </div>
<% end %>
