<h1>Transactions</h1>

<table class="table table-hover table-bordered">
  <thead class="table table-secondary">
    <tr>
      <th>Name</th>
      <th>Budget</th>
      <th>Due date</th>
      <th>Payment</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to transaction.name, transaction_path(transaction) %></td>
        <td>₱ <%= transaction.budget.round.to_s(:delimited) %></td>
        <td><%= transaction.due_date.strftime("%a, %b %d") %></td>
        <td><%= transaction.payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add", new_transaction_path %> |
<%= link_to "Home", root_path %>
