<h1>Transactions</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Budget</th>
      <th>Cut off</th>
      <th>Due date</th>
      <th>Payment</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.name %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.budget %></td>
        <td><%= transaction.cut_off %></td>
        <td><%= transaction.due_date %></td>
        <td><%= transaction.payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add", new_transaction_path %> |
<%= link_to "Home", root_path %>
