<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type.name %>
</p>

<p>
  <strong>Account Source:</strong>
  <%= @transaction.source_account&.name %>
</p>

<p>
  <strong>Account Target:</strong>
  <%= @transaction.target_account.name%>
</p>

<p>
  <strong>Amount:</strong>
  <span class="money"><%= @transaction.amount %></span>
</p>

<p>
  <strong>Fee:</strong>
  <span class="money"><%= @transaction.fee %></span>
</p>

<p>
  <strong>Cut off:</strong>
  <%= @transaction.cutoff_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @transaction.due_date %>
</p>

<p>
  <strong>Actualized on:</strong>
  <%= @transaction.actualized_at %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @transaction.created_by.name %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @transaction.updated_by.name %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) if @transaction.draft? %>
<%= "|" if @transaction.draft? %>
<%= link_to 'Back', transactions_path %>
