<h2>More info</h2>

<table class="table table-hover table-bordered">
  <thead class="table table-secondary">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Budget</th>
      <th>Cut off</th>
      <th>Due date</th>
      <th>Payment</th>
      <th>Cash type</th>
      <th>Days remaining</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @transaction.name %></td>
      <td><%= @transaction.description %></td>
      <td>₱ <%= @transaction.budget.round.to_s(:delimited) %></td>
      <td><%= @transaction.cut_off %></td>
      <td><%= @transaction.due_date.strftime("%a, %b %d") %></td>
      <td><%= @transaction.payment %></td>
      <td><%= @transaction.cash_type %></td>
      <% if (@transaction.due_date - Date.today).round <= 1 %>
        <td class="table-danger"><%= (@transaction.due_date - Date.today).round %> it's time </td>
      <% elsif (@transaction.due_date - Date.today).round <= 7 %>
        <td class="table-danger"><%= (@transaction.due_date - Date.today).round %> days left</td>
      <% elsif (@transaction.due_date - Date.today).round <= 14 %>
        <td class="table-warning"><%= (@transaction.due_date - Date.today).round %> days left</td>
      <% else %>
        <td class="table-success"><%= (@transaction.due_date - Date.today).round %> days left</td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to "Back", transactions_path %>
