<nav class="main-menu">
  <%= link_to 'Dashboard', root_path %><span class="sep">|</span>
  <%= link_to "Accounts", accounts_path %><span class="sep">|</span>
  <%= link_to "Transaction", transactions_path %><span class="sep">|</span>
  <%= link_to "Transaction Types", transaction_types_path %><span class="sep">|</span>
  <%= link_to "Account Types", account_types_path %>
</nav>
