<nav class="main-menu">
  <%= link_to 'Dashboard', root_path %><span class="sep">|</span>
  <%= link_to "Accounts", accounts_path %><span class="sep">|</span>
  <%= link_to "Entities", entities_path %><span class="sep">|</span>
  <%= link_to "Transactions", transactions_path %><span class="sep">|</span>
  <%= link_to "Transaction Types", transaction_types_path %>
</nav>
