<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Account type</th>
      <th>Code</th>
      <th>Name</th>
      <th>Value</th>
      <th>Deactivated at</th>

      <% if allowed_to?(:see?, :entity) %>
        <th>Actions</th>

      <% else %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @accounts.order(parent_id: :asc).each do |account| %>
      <tr class="<%= account.initialized? ? "" : "warn" %>">
        <td><%= account.parent&.name %></td>
        <td><%= account.code %></td>
        <td><%= account.name %></td>
        <td><div class="money"><%= from_cents(account.value) %></div></td>
        <td><%= account.deactivated_at %></td>
        <td><%= link_to 'Show', account %></td>
        <% if allowed_to?(:update?, :entity) %>
          <td>
            <%= link_to 'Activate',
              activate_account_path(account),
              method: :patch,
              data: { confirm: "Are you sure?" } if account.deactivated?
            %>
            <%= link_to 'Deactivate',
              deactivate_account_path(account),
              method: :patch,
              data: { confirm: "Are you sure?" } unless account.deactivated?
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
