<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Account type</th>
      <th>Code</th>
      <th>Name</th>
      <th>Deactivated at</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.order(parent_id: :asc).each do |account| %>
      <tr>
        <td><%= account.parent&.name %></td>
        <td><%= account.code %></td>
        <td><%= account.name %></td>
        <td><%= account.deactivated_at %></td>
        <td><%= link_to 'Show', account %></td>
        <td>
          <% if account.initialized? %>
            <%= link_to 'Activate',
              activate_account_path(account),
              method: :patch,
              data: { confirm: "Are you sure?" } if account.deactivated?
            %>
            <%= link_to 'Deactivate',
              deactivate_account_path(account),
              method: :patch,
              data: { confirm: "Are you sure?" } unless account.deactivated?
            %>
          <% else %>
            <%= link_to 'Initialize', init_account_path(account), method: :patch %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav>
  <%= link_to 'Add New', new_account_path %>
</nav>
