<div>
  <strong>Account type:</strong>
  <%= @account.account_type&.name %>
</div>

<div>
  <strong>Code:</strong>
  <%= @account.code %>
</div>

<div>
  <strong>Description:</strong>
  <%= @account.name %>
</div>

<% if @account.deactivated? %>
  <div>
    <strong>Deactivated at:</strong>
    <%= @account.deactivated_at %>
  </div>
<% end %>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
